<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title> polarisary的技术博客</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="关于编程（java,python,hadoop等）、设计模式、系统（linux）、开源、学习心得、工作经验&ndash;人生苦短，我用python" name="description">
        <meta content="python,linux,vim,web开发,工作经验,项目实战,教程" name="keywords">
        <meta content="polarisary" name="author">
{#        <meta content="L1tGNksWV2rt8zho" name="baidu-site-verification">#}
{#        <meta content="DBmuxv3lJezFBdzrzoueLXVbY6gJ6cdbR1mroGVRiNQ" name="google-site-verification">#}
{#        <link href="/xmlrpc/" rel="pingback">#}
        <link type="image/x-icon" href="/static/blog/img/polarisary.jpg" rel="shortcut icon">

        <link rel="stylesheet" href="/static/blog/css/bootstrap3.0.min.css">
        <link rel="stylesheet" href="/static/blog/css/docs.css">
        <link rel="stylesheet" href="/static/blog/css/reset.css">
        <link rel="stylesheet" href="/static/blog/css/friendly.css">

{#    <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="http://static.duoshuo.com/embed.js" charset="UTF-8"></script><link type="text/css" rel="stylesheet" href="http://static.duoshuo.com/styles/embed.default.css?d6149e1c.css">#}
</head>
    <body style="position: static;" data-twttr-rendered="true">
        <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
            <div class="container">
                <a class="navbar-brand" href="/">Polarisary</a>
                <div class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="/">首页</a>
                        </li>
                        {% for page in pages %}
                            <li class="">
                                {% if page.link %}
                                <a href="{{ page.link }}">{{ page.title }}</a>
                                {% else %}
                                <a href="/{{ page.alias }}/">{{ page.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <form action="/" method="get" class="navbar-form pull-right">
                        <input type="text" style="width: 200px;" id="s" name="s" class="form-control">
{#                        <button class="btn btn-default" type="submit">搜索</button>#}
                    </form>
                </div>
            </div>
        </div>
        <div class="bs-header">
            <div class="container">
                <ul class="nav nav-pills">
                    {% for category in categories %}
                    {% if category.is_nav %}
                    <li><a href="/category/{{ category.alias }}/">{{ category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="content" class="container">
            <div class="row">
                <div class="col-lg-9" id="main">
                    {% block main %}{% endblock %}
                </div>
                <div class="sidebar col-lg-3">
                   {% include "includes/sidebar.html" %}
                </div>
            </div>

{#            <div class="">#}
{#                其他分类：#}
{#                <ul class="nav nav-pills">#}
{#                    {% for category in categories %}#}
{#                    {% if not category.is_nav %}#}
{#                    <li><a href="/category/{{ category.alias }}/">{{ category.name }}</a></li>#}
{#                    {% endif %}#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
        </div>
        {% include "includes/footer.html" %}
    </body>
</html>
