/* Fonts */

@font-face {
    font-family: 'jrhandRegular';
    src: url('/static/fontfacekits/Jr-Hand/jr!ha___-webfont.eot');
    src: url('/static/fontfacekits/Jr-Hand/jr!ha___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fontfacekits/Jr-Hand/jr!ha___-webfont.woff') format('woff'),
         url('/static/fontfacekits/Jr-Hand/jr!ha___-webfont.ttf') format('truetype'),
         url('/static/fontfacekits/Jr-Hand/jr!ha___-webfont.svg#jrhandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlaytimeWithHotToddiesRegular';
    src: url('/static/fontfacekits/Playtime-With-Hot-Toddies/playtime-webfont.eot');
    src: url('/static/fontfacekits/Playtime-With-Hot-Toddies/playtime-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fontfacekits/Playtime-With-Hot-Toddies/playtime-webfont.woff') format('woff'),
         url('/static/fontfacekits/Playtime-With-Hot-Toddies/playtime-webfont.ttf') format('truetype'),
         url('/static/fontfacekits/Playtime-With-Hot-Toddies/playtime-webfont.svg#PlaytimeWithHotToddiesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #E0E6E4;
    background-image: url('/static/images/non_home_background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    height: 100%;
}

#wrap-all-but-footer {
    min-height: 100%;
}

#non-footer-content {
    overflow: auto;
    padding-bottom: 197px;
}

#wrap-footer {
    position: relative;
    margin-top: -197px;
    height: 197px;
    clear: both;
}

#copyright {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #999;
    text-align: center;
}

/* Move drop down menus slightly up so there's no gap */
ul.nav li.dropdown:hover ul.dropdown-menu {
    top: 90%;
}

.navbar {
    font: 14px 'PlaytimeWithHotToddiesRegular', Arial, sans-serif;
}

.search-query {
    font-style: italic;
}

.brand {
    font: 18px 'jrhandRegular', Arial, sans-serif;
}

.navbar .divider-vertical {
    margin: 0px;
}

#page-title {
    font-family: 'PlaytimeWithHotToddiesRegular', Arial, sans-serif;
}

.breadcrumb {
    background-color: rgba(180, 180, 180, 0.2);
}

.breadcrumb .active {
    color: #666;
}

.breadcrumb .divider {
    color: #888;
}

.panel {
    background-color: rgba(220, 220, 220, 0.4);
}

footer {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color:rgba(235, 233, 233, 0.6);
    border-radius: 25px 25px 0px 0px;
    margin-top: 0px;
    padding: 0px;
}

footer li li {
    padding: 0;
}

footer li li:first-child {
    padding-bottom: 10px;
}

.blog-list-detail {
    border-bottom: 1px solid #888;
}

.navbar-inverse .navbar-inner {
    background-image: -moz-linear-gradient(top, #333, #000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#000));
    background-image: -webkit-linear-gradient(top, #333, #000);
    background-image: -o-linear-gradient(top, #333, #000);
    background-image: linear-gradient(to bottom, #333, #000);
    border-radius: 0px 0px 10px 10px;
    padding-left: 15px;
    padding-right: 5px;
}

.caret {
    border-top: 4px solid #999;
}

.cookie_warning {
    background-color: rgba(204, 85, 0, 0.2);
    padding: 3px;
    text-align: center;
    font-weight: bold;
}

/* Blog */

.recent-posts li {
    margin: 15px 0;
}

code, pre {
    background-color: rgba(245, 245, 245, 0.4);
}

.app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 3px solid black;
}

.blog-post-caption {
    text-align: center;
    font-weight: bold;
    font-size: 80%;
}

ul.blog-post-list > li {
    margin-bottom: 7px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-image {
    border: 1px solid #333;
}

.blog-post-spaced {
    margin-right: 10px
}
